#pto{
	float:left;
}
#ptt{
	float:right;
}

.box{
	border-style:solid;
	border-color:black;
	min-width:30px;
	max-width:30px;
	min-height:30px;
	max-height:30px;
	float:left;
	text-align:center;
	line-height:30px;
	vertical-align:middle;
	background-color:white;
	color:white;
}

#players{
}

.boards{
  margin-bottom:30px;
  padding:15px;
  min-width:395px;
	max-width:395px;
	min-height:500px;
	max-height:500px;
}

#board{
	float:right;

}
#game{
  border-style:solid;
	min-width:900px;
	max-width:900px;
	min-height:600px;
	max-height:600px;
	padding:50px;
	margin-left:auto;
	margin-right:auto;
	background-color:lightblue;
	border-radius:25px;
	margin-bottom:25px;
	margin-top: 25px;
}
body{
	background-color:orange;
	text-align:center;
}
#container{
	background-color:white;
	margin:50px;
	border-radius:25px;
	padding:10px;
	background-image: url("https://i.stack.imgur.com/GHqYx.jpg");
}


#left{
	position: absolute;
    right: 500px;
    min-width: 300px;
	  max-width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;

}

