#pto{
	float:left;
}
#ptt{
	float:right;
}

.box{
	border-style:solid;
	width:30px;
	height:30px;
	float:left;
	text-align:center;
	line-height:50px;
	vertical-align:middle;
	background-color:white;
}

#players{
}

.boards{
  margin-bottom:30px;
  padding:15px;
  width:380px;
	height:500px;
}

#board{
	float:right;

}
#game{
  border-style:solid;
	width:900px;
	height:600px;
	padding:50px;
	margin-left:auto;
	margin-right:auto;
	background-color:blue;
	border-radius:25px;
	margin-bottom:25px;
	margin-top: 25px;
}
body{
	background-color:orange;
	text-align:center;
}
#container{
	background-color:white;
	margin:50px;
	border-radius:25px;
	padding:10px;
}


#left{
	position: absolute;
    right: 500px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;

}

