body{
	background-color:orange;
	text-align:center;
}
#container{
	background-color:white;
	margin:50px;
	border-radius:25px;
	padding:10px;
}
#greetings{
	color: blue;

}
#content{
	color:red;
}
#gallery{
	width:300px;
	margin-left:auto;
	margin-right:auto;
	height:300px;
	margin-top:25px;
	
}

#left{
	float:left;
}
#middle{
	float:center;
}
#right{
	float:right;
}
img{
	width:300px;
}
#flashCards{
	font-family: fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	color: blue;
	text-align: center;
}
#flashCards2{
	font-family: fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	color: blue;
	text-align: center;
}
#flashCards3{
	font-family: fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	color: blue;
	text-align: center;
}
#flashCards4{
	font-family: fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	color: blue;
	text-align: center;
}
#HARRISON{
	 font-family: "Times New Roman", Times, serif;
   height: 200px;
   width: 50%;
   background-color: powderblue;
	 text-align: justify;
	 text-decoration: underline;
	 color:#00FF00;

}



